:root {
    --clr-background: #1A173D;
    --clr-main-purple: #5133A6;
    --clr-main-orange: #E25300;
    --clr-white: #fff;
    --clr-purple-gradient:  linear-gradient(rgb(133, 100, 187) 0%, rgb(102, 44, 197) 85%);
    --clr-orange-gradient: radial-gradient(rgb(245, 194, 146) 25%, rgb(241, 150, 65) 85%);

    --ff-primary: "Righteous", sans-serif;
    --ff-text: "Ubuntu", sans-serif;


    /*1rem by default is 16px, but in general it can have another value*/;
    --inner-text: 1.125rem;
    --inner-smal: 1rem;
    --title: 1.5rem;
    --button: 1.25rem;
    --button-small: 1rem;
    --header-1: 4.375rem;
    --header-2: 3rem;
    --header-3: 2.25rem;
    --subheader: 2.125rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* elements that don't have a class get default styles */
a {
    text-decoration-skip-ink: auto;
    color: inherit; /* Inherits the color from the parent element */
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*general styling*/
body {
    font-family: var(--ff-primary);
    font-size: 1rem;
    background-color: var(--clr-background);
    color: var(--clr-white);
    line-height: normal;
}

h2[data-width="wide"] {
    max-width: 744px;
}

.wrapper {
    --max-width: 1250px;
    --padding: 1rem;

    width: min(var(--max-width),100% - (var(--padding) *2));
    /*centered our elements*/
    margin-inline: auto;


}

.section {
    --max-width: 1170px;
    --padding: 1rem;

    width: min(var(--max-width),100% - (var(--padding) *2));
    /*centered our elements*/
    margin-inline: auto;

}

.smaller-section {
    --max-width: 1064px;
    --padding: 1rem;

    width: min(var(--max-width),100% - (var(--padding) *2));
    margin-inline: auto;
}

.container {
    display: grid;
    gap: 1rem;
}


.bottom-109 {
        margin-bottom: 109px;
    }

.section.smaller-section.gallery {
        margin-bottom: 173px;
    }

.header-one {
    font-size: var(--header-1);
}

.header-two {
    font-size: var(--header-2);
    margin-bottom: 15px;
}

.inner-text {
    font-family: var(--ff-text);
    font-size: var(--inner-text);
}

.inner-small {
    font-family: var(--ff-text);
    font-size: var(--inner-smal);
    line-height: 120%;
}

.purple {
    background: var(--clr-purple-gradient);
    border-radius: 25px;
}

.button {
    font-size: var(--button);
    color: var(--clr-white);
    background-color: var(--clr-main-orange);
}

.header-button {
    padding: 10px 16px;
}

.button-educator {
    padding: 16.88px 49.85px;
}
.button-small {
    font-size: var(--button-small);
}

.button-intro {
    background: inherit;
    border: 3px solid var(--clr-main-orange);
    color: var(--clr-main-orange);

    padding: 12px 16px;
}

.button-intro::before {
    display: inline-block;
    content: url('img/play-icon.svg'); /* Insert your Base64-encoded SVG here */
    width: 36px;
    height: 36px;
    margin-right: 9px; /* Adjust the space between the SVG icon and the text */
    vertical-align: middle; /* Aligns the icon vertically with the text */
}

.title {
    font-size: var(--title);
}

.subheader {
    font-size: var(--subheader);
}

@media (max-width: 50em) {

    .bottom-109 {
        margin-bottom:60px;
    }

    .section.smaller-section.gallery {
        margin-bottom: 243px;
    }

    .header-two {
        font-size: var(--header-3);
    }

    h2[data-width="wide"] {
        max-width: 478px;
    }

    .button {
        font-size: var(--button-small);
    }

    .button-educator {
        padding: 9.5px 34.88px;
    }

    .button-intro {
        padding: 10px 12px;
    }

    .button-intro::before {
        display: inline-block;
        content: url('img/play-icon.svg');
        width: 20px;
        height: 20px;
        margin-right: 10px; /* Adjust the space between the SVG icon and the text */
        vertical-align: middle; /* Aligns the icon vertically with the text */
    }

}

@media (max-width: 25em) {

    .bottom-109:nth-child(2),
    .bottom-109:nth-child(3),
    .bottom-109:last-child {
        margin-bottom:30px;
    }
    .section.smaller-section.gallery {
        margin-bottom: 189px;
    }
    .header-two {
        font-size: var(--title);
    }

    h2[data-width="wide"] {
        max-width: 312px;
    }

    .button-educator {
        padding: 9.5px 93.38px;
        margin-bottom: 10px;
    }

    .button-intro {
        padding: 10px 64.5px;
    }

    .button-intro::before {
        display: inline-block;
        margin-right: 15px; /* Adjust the space between the SVG icon and the text */
        vertical-align: middle; /* Aligns the icon vertically with the text */
    }
}


/*educator-section*/
.container.educator {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 109px;
}
.educator-wrapper {
    padding: 50px;
    max-width: 625px;
}

.educator-paragraph-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 31px;
}

.educator.inner-text {
    max-width: 75%;
}

.educator-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.educator-image {
    width: 100%;
    height: auto;
}

@media (max-width: 50em) {
    .container.educator {
        margin-top: 52px;
    }

    .educator-wrapper {
        padding: 31px 37px;
        max-width: 402px;
    }
    .educator.header-one {
        font-size: var(--header-3);
    }

    .educator-svg {
        width: 70px;
        height: 70px;
    }

    .educator.inner-text {
        font-size: var(--inner-smal);
        max-width: 73%;
    }

    .educator-buttons-wrapper {
        justify-content: space-between;
    }
}

@media (max-width: 25em) {
    .container.educator {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .educator-wrapper {
        order: 2;
        padding: 73.5px 18.5px 27px;
        width: 100%;
        min-height: 355px;

    }
    .educator.header-one {
        text-align: center;
        margin-bottom: 6px;
    }

    .educator.inner-text {
        max-width: 80%;
    }

    .educator-buttons-wrapper {
        flex-direction: column;
    }
    .educator-svg {
        display: none;
    }

    .educator-img-wrapper {
        transform: translate(10px, 80px);
    }
    .educator-image {
        order: 1;
        max-width: 200px;
        height: auto;
    }



}

/*review-section*/
.review-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-height: 200px;
    padding: 31px 38px;

}

.students-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns for students, lessons, and likes */
    align-items: center;
    justify-items: center;
    border-right: 2px solid white; /* White vertical line */
}

.students-data__item {
    display: grid;
    justify-items: center;
}

.students-review {
    display: flex;
    flex-direction: column;
}
.students-review__list {
    list-style: none;
    display: flex; /* Display slides in a row */
}

.students-review__list-item {
    flex: 0 0 100%;
    display: none;

    /*display: flex;*/
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;

}

/* Hide the radio buttons */
input[type="radio"] {
    position: absolute;
    visibility: hidden;
}
/* Style navigation dots */
.carousel-dots {
    align-self: center;
}
.carousel-dots label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}
/* Highlight the dot associated with the checked radio button */
input#slide1:checked ~ .carousel-dots label:nth-child(1),
input#slide2:checked ~ .carousel-dots label:nth-child(2),
input#slide3:checked ~ .carousel-dots label:nth-child(3) {
    background-color: #000; /* Active dot color */
}

/* Show the slide associated with the checked radio button */
input#slide1:checked ~ .students-review__list .students-review__list-item:nth-child(1),
input#slide2:checked ~ .students-review__list .students-review__list-item:nth-child(2),
input#slide3:checked ~ .students-review__list .students-review__list-item:nth-child(3) {
    /*opacity: 1;*/
    display: flex;
}

@media (max-width: 50em) {
    .review-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 390px;
        padding: 37px 30px;
    }

    .students-data {
        border-right: none;
        border-bottom: 2px solid white; /* White vertical line */
        padding-bottom: 38px;

    }

    .students-review {
        margin: 20px 20.5px 32px;
    }

    .students-review__list-item {
        justify-content: start;
    }
}

@media (max-width: 25em) {
    .review-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        max-height: 396px;
        padding: 32px 25px 23px;
    }

    h6.title,
    span.title {
        font-size: var(--button);
    }

    h6.title {
        margin-bottom: 9px;
    }

    .counter {
        font-size: var(--title);
    }

    .students-review {
        margin: 0;
        justify-content: space-between;
    }

    .students-avatar {
        width: 50px;
        height: 50px;
        align-self: start;
    }
}

/*academy`s opportunity section*/
.explore-cats {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}
.explore {
    min-height: 370px;
    height: auto;
    border-radius: 24px;
    transform: skewY(8deg);
    padding: 0 20px;
}
.opportunitie-p {
    margin-bottom: 136px;
}

.oportunities-paragraph {
    transform: skewY(-8deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.oportunities-paragraph h3 {
    margin-bottom: 19px;
}
.oportunities-paragraph p {
    text-align: left;
}

p[data-width="wide"] {
    max-width: 300px;
}

.explore img {
    transform: skewY(-8deg);
    margin: 0 auto;
}

.explore img {
    max-width: 100%;
    height: auto;

    position: relative;
    margin-top: -130px;
}

.explore.purple {
    background: var(--clr-purple-gradient);
}

.explore.orange {
    background:  var(--clr-orange-gradient);
    color: var(--clr-main-purple);
}

/*1110px - breakpoint*/
@media (max-width: 50em) {
    .explore-cats {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .explore-cats > div {
        margin-top: 49px;
    }

    .explore-cats > div:last-child {
        margin-bottom: 61px;
    }

    .explore {
        position: relative;
        width: 100%; /* Use 100% width for full responsiveness */
        max-width: 565px; /* Set a maximum width */
        min-height: 235px;
        height: auto;

        border-radius: 24px;
        transform: skewY(5deg);
        padding-left: 30px;

        display: flex;
        flex-direction: row;
    }

    .explore img {
        position: absolute;
        top: 50px;
        right: -98px;
        /*max-width: 100%;*/
        width: auto;
        height: auto;
        transform: skewY(-5deg);
    }
    .opportunitie-p {
        max-width: 600px;
        margin-bottom: 49px;
    }

    .oportunities-paragraph {
        transform: skewY(-5deg);
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .oportunities-paragraph h3 {
        align-self: center;
    }

    p[data-width="wide"] {
        max-width: 70%;
    }

}


@media (max-width: 25em) {
    .opportunitie-p {
        max-width: 312px;
    }
    .explore-cats {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inner-text {
        font-size: var(--inner-smal);
    }

    .explore-cats > div {
        margin-top: 126px;
    }

    .explore-cats > div:last-child {
        margin-bottom: 30px;
    }

    .explore {
        position: relative;
        min-width: 312px;
        min-height: 290px;
        height: 100%;
        border-radius: 24px;
        transform: skewY(5deg);
    }

    .explore img {
        position: absolute;
        top: -35px;
        left: -90px;
        max-width: 100%;
        height: auto;
        transform: skewY(-5deg);
    }

    .oportunities-paragraph h3 {
        margin-top: 70px;
    }

    h3.subheader {
        font-size: var(--button);
    }

    p.inner-text {
        font-size: var(--inner-smal);
    }

    p[data-width="wide"] {
        max-width: 300px;
    }

}
/*gallery-section*/
.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.gallery-wrapper {
    display: grid;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    .header-container {
    margin-bottom: 72px;
    }

    .gallery-wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 0.8125rem;
        width: 100%;
    }

    .gallery-item.purple {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3%;
        margin-bottom: 5px;
    }

    .purple-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .gallery-item.one { grid-area: 1 / 1 / 2 / 2; }
    .gallery-item.two { grid-area: 2 / 1 / 3 / 2; }
    .gallery-item.three { grid-area: 1 / 2 / 3 / 3; }
    .gallery-item.four { grid-area: 1 / 3 / 2 / 4; }
    .gallery-item.five { grid-area: 2 / 3 / 3 / 4; }


@media (max-width: 50em) {
    .header-container {
        margin-bottom: 60px;
    }

    .gallery-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 34px;
        grid-row-gap: 10px;
    }

    .gallery-item.one { grid-area: 2 / 1 / 3 / 2; }
    .gallery-item.two { grid-area: 1 / 1 / 2 / 2; }
    .gallery-item.three { grid-area: 1 / 2 / 3 / 3; }
    .gallery-item.four { grid-area: 3 / 2 / 4 / 3; }
    .gallery-item.five { grid-area: 3 / 1 / 4 / 2; }


}

@media (max-width: 25em) {
    .header-container {
        margin-bottom: 30px;
    }

    .gallery-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 10px;
    }

    .gallery-item.one { grid-area: 1 / 1 / 2 / 2; }
    .gallery-item.two { grid-area: 2 / 1 / 3 / 2; }
    .gallery-item.three { grid-area: 3 / 1 / 5 / 2; }
    .gallery-item.four { grid-area: 5 / 1 / 6 / 2; }
    .gallery-item.five { grid-area: 6 / 1 / 7 / 2; }
}
/*cta-section*/
.cta-wrapper {
    position: relative;
}
.cta-content {
    /*max-width: 908px;*/
    width: 85%;
    min-height: 270px;
    padding: 32px 0 34px 35px;

}
.cta-image {
    position: absolute;
    top: -104px;
    right: -69px;
    max-width: 612px;
    height: auto;
   }

p.cta.inner-small{
    /*min-width: 579px;*/
    width: 65%;
    margin-bottom: 46px;
}

.cta-form {
    display: flex;
    width: 70%;
    border: none; /* border around the entire form */
    border-radius: 12px; /* rounded corners for the form */
    overflow: hidden;
}
p.cta.small {
    display: none;
}

.cta-input {
    flex: 1; /* allows input to grow and fill the space */
    padding: 10px 30px;
    text-align: left;
}

.cta-input::placeholder {
    color: var(--clr-main-purple);
    opacity: 0.5;
}

.cta-button {
    width: 30%;
    padding: 10.5px 36px;
    color: white;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
}


@media (max-width: 50em) {
    .cta-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    .cta-content {
        width: 100%;
        padding: 60px 43px 34px;
    }
    .cta-form {
        width: 100%;
    }

    .cta-image {
        position: absolute;
        top: -221px;
        right: 17px;
        max-width: 486px;
        height: auto;
    }

    .cta.header-two,
    p.cta.inner-small{
        width: 90%;
    }

    p.cta.inner-small {
        margin-bottom: 22px;
    }

}

@media (max-width: 25em) {
    .cta-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    .cta-content {
        height: 300px;
        padding: 48px 24px 24px 26px;
    }
    p.cta {
        display: none;
    }

    p.cta.small {
        display: block;
    }

    .cta.header-two {
        width: 90%;
    }
    p.cta.inner-small{
        /*min-width: 579px;*/
        width: 100%;
    }

    .cta-form {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    p.cta.inner-small {
        margin-bottom: 20px;
    }

    .cta-input,
    .cta-button {
        width: 100%;
        min-height: 40px;
        border-radius: 12px;
        text-align: center;
    }

    .cta-input {
        margin-bottom: 9px;
    }

    .cta-image {
        position: absolute;
        width: 100%;
        height: auto;
        top: -147px;
        right: -19px;
    }

}

/*footer*/
hr {
    border: 1px solid var(--clr-main-orange);
    width: 90%;
    margin: 0 auto;
}

.even-column {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

